<div class="card m-2">
    <div class="imgBx">
        <img src="{{ asset( 'build/images/' ~ burger.img) }}" alt="nike-air-shoe">
    </div>

    {#    {{ dump(form) }} #}

    <div class="contentBx">

        <h2>{{ burger.name }}</h2>
        <p class="description">{{ burger.description }}</p>

        <div class="prix">
            <p class="prixBurger">{{ burger.price }} €</p>
            {% if app.user != null %}
                <input class="frites" data-add-frie ="{{ burger.id }}" type="checkbox" name="frites">
                <img class="btnFrite" src="{{ asset( 'build/images/fites2€.png') }}" alt="frites" >

            {% endif %}
        </div>

        {% if app.user != null %}
            <a class="btnAjoutCart" data-add-burger-cart ="{{ burger.id }}">
                <i class="fa-solid fa-cart-plus"></i> Ajouter au Panier</a>

            {#        {% elseif is_granted("ROLE_ADMIN") %} #}
            <a class="btnModifierCart" href="{{ path('app_burger_edit', {'id': burger.id}) }}">Modifier</a>

        {% else %}
            <a class="btnAjoutCart m-2" href="{{ path('app_register') }}"><i class="fa-solid fa-person-chalkboard"></i>
                Créer un compte</a>
            <a class="btnAjoutCart m-2" href="{{ path('app_login') }}"><i class="fa-solid fa-key"></i> Se connecter</a>
        {% endif %}
    </div>

</div>


{# <a href="{{ path('app_burger_show', {'id': burger.id}) }}">show</a> #}
{# <a href="{{ path('app_burger_new') }}">Create new</a> #}
