<div class="headerCenter">
    <div class="headerBackground">
        <header>
            <a href="{{ path('app_burger_index') }}" class="hoverHeader"><img class="iconHeader"
                                                          src="{{ asset('build/images/burgerPanier.png') }}" alt="">BURGER</a>
            <a href="{{ path('app_tacos_index') }}" class="hoverHeader"><img class="iconHeader"
                                                         src="{{ asset('build/images/tacosPanier.png') }}" alt="">TACOS</a>

            <a href="{{ path('app_calendar_index') }}" class="logoMarge">
                <img src="{{ asset('build/images/BurgerLogo.png') }}" class="logoHeader"
             alt="Logo 34 Burger" ></a>

            <a href="{{ path('app_drink_index') }}" class="hoverHeader"><img class="iconHeader"
                                                         src="{{ asset('build/images/frittesPanier.png') }}" alt="">BOISSONS</a>
            <a href="{{ path('app_home') }}" class="hoverHeader"><img class="iconHeader" src="{{ asset('build/images/orderBurger.png') }}"
                                                  alt="">CONTACT</a>
        </header>
    </div>
</div>