<div class="headerCenter">
    <div class="headerBackground">
        <header>
            <div class="blocMenu backHeaderBurger">
                <a href="{{ path('app_burger_index') }}" class="hoverHeader"><img class="iconHeader"
                                                                                  src="{{ asset('build/images/burgerPanier.png') }}"
                                                                                  alt="">BURGER
                </a>
            </div>
            <div class="blocMenu backHeaderTacos">
                <a href="{{ path('app_tacos_index') }}" class="hoverHeader"><img class="iconHeader"
                                                                                 src="{{ asset('build/images/tacosPanier.png') }}"
                                                                                 alt="">TACOS
                </a>
            </div>
            <div class="blocMenu" >
                <a href="{{ path('app_calendar_index') }}" class="logoMarge">
                    <img src="{{ asset('build/images/BurgerLogo.png') }}" class="logoHeader" id="blocLogo"
                         alt="Logo 34 Burger">
                </a>
            </div>

            <div class="blocMenu backHeaderDrink">
                <a href="{{ path('app_drink_index') }}" class="hoverHeader"><img class="iconHeader"
                                                                                 src="{{ asset('build/images/frittesPanier.png') }}"
                                                                                 alt="">BOISSONS
                </a>
            </div>
            <div class="blocMenu backHeaderContact">
                <a href="{{ path('app_home') }}" class="hoverHeader"><img class="iconHeader"
                                                                          src="{{ asset('build/images/orderBurger.png') }}"
                                                                          alt="">CONTACT
                </a>
            </div>


        </header>
    </div>
</div>

<script>

    const logo = document.getElementById('blocLogo')

    window.addEventListener('scroll', () => {
        if(window.scrollY > 100){
            logo.classList.add('miniSize')
            logo.classList.remove('logoHeader')
        } else {
            logo.classList.add('logoHeader')
            logo.classList.remove('miniSize')
        }
    })
</script>