{% extends 'base.html.twig' %}

{% block title %}🌮 Tacos Config 🌮{% endblock %}

{% block main %}

{#    <div class="presentationConfigTacos">#}
{#        <img src="{{ asset('build/images/chefTacos.png') }}" class="chefTacos" alt="chefTacos">#}
{#        <p>Configure ton tacos et nous nous chargeons du reste</p>#}
{#    </div>#}

    <div class="alignementBackground">

        <img src="{{ asset('build/images/tacos.png') }}" class="imageTacosForm" alt="tacos">

        <div class="backgroundTacosConfig">

            {{ form_start(form) }}

            <div class="alignementTacosConfigSize">
                <div class="tailleTacos">
                    <img src="{{ asset('build/images/tacosSize.png') }}" alt="tacos" class="imageSauceForm">
                    {{ form_row(form.size) }}
                </div>
                <div class="viandeTacos">
                    <img src="{{ asset('build/images/tacosMeat.png') }}" alt="tacos" class="imageSauceForm">
                    {{ form_row(form.meat) }}
                </div>
            </div>

            <div class="alignementTacosConfigSauce">
                <div class="sauceTacos">
                    <img src="{{ asset('build/images/sauceTacos.png') }}" alt="tacos" class="imageSauceForm">
                    {{ form_row(form.sauce) }}
                </div>
                <div class="fromageTacos">
                    <img src="{{ asset('build/images/cheeseTacosConfig.png') }}" alt="tacos" class="imageSauceForm">
                    {{ form_row(form.cheese) }}
                </div>
            </div>
        </div>

        {#- -----------Si connecté et pas USER----------- -#}
        {% if app.user != null %}
            <div class="blocFormBtnTacos">
            <button type="submit" class="btnTacosLogin">
                <i class="iconConnectTacos fa-solid fa-cart-plus"></i>
                Ajouter au Panier
            </button>

            {#- -----------Si connecté et ADMIN--------------- -#}
            {% if is_granted("ROLE_ADMIN") %}
                <a class="btnTacosCreate" href="{{ path('app_tacos_new') }}">
                    <i class="fa-solid fa-cart-plus"></i>
                    Nouveaux Ingrédients
                </a>
                </div>
                {#                <a class="btnModifierCart" href="{{ path('app_tacos_index') }}">Modifier/Supprimer</a> #}
            {% endif %}

        {% endif %}

        {#- -----------Si connecté et USER--------------- -#}
        {% if app.user == null %}
            <div class="blocFormBtnTacos">
                <a class="btnTacosCreate" href="{{ path('app_login') }}">
                    <i class="iconConnectTacos fa-solid fa-person-chalkboard"></i>
                    Créer un compte
                </a>
                <a class="btnTacosLogin" href="{{ path('app_login') }}">
                    <i class="iconConnectTacos fa-solid fa-key"></i>
                    Se connecter
                </a>
            </div>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}